
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form action="/Usuario/Login" method="post">
    <label>Username</label>
    <input type="text" name="username" />

    <br />

    <label>Password</label>
    <input type="password" name="passwd" />

    <br /><br />
    <button type="submit">Iniciar</button>
</form>